
   <!--  <ng-view></ng-view>
    

 -->
 <form>  
        <input type="text" name="textInput" ng-model="textValue">
      </form>
      <a href="#profile">Back</a>


    <!-- <script>
      var app = angular.module('myApp', ['ngRoute']);
      
      app.config(function($routeProvider, $locationProvider) {
        $routeProvider.when('/route1', {
          templateUrl: 'profile.html'
        })
        
        .otherwise({redirectTo: '/page2'});
        
       
      });
      
     
    </script>
 -->